@import "@breakpoints";

.root {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    text-transform: uppercase;
}

.valuesContainer{
    display: flex;
    align-items: center;
    gap: 24px;


    @include mobile {
        align-items: start;
        flex-direction: column;
    }
}